.wrapper-box{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 400px;
}

#box1,#box2,#box3,#box4{
    background-color: yellow;   
    padding: 10px;
    margin: 10px;
}

#box1{
    width: 90%;
    height: 100px;
}

#box2{
    
}

#box3{
}