body{
    display: flex;
    justify-content: center;
}

.principal{
    background-color: dodgerblue;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    background-color: yellow;
    height: 85%;
    width: 25%;
}

.right{
    width: 60%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.superior, .bottom{
    height: 25%;
    background-color: yellow;
    width: 100%;
}

.center{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.center .cube{
    background-color: yellow;
    width: 45%;
    height: 100%;
}